footer {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    text-align: center;
    background: var(--color-primary);
    padding: 3rem 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    margin-top: 7rem;
    font-size: 0.8rem;
    justify-content: center;
}

.footer a{
    color: var(--color-white);
}

.footer__logo{
    font-size: 2rem;
    font-weight: 500;
    margin: auto;
    display: inline-block;
    
}

.footer__permalinks{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 6rem;
    color: var(--color-white);
    font-size: 1.8rem;
}

.footer__socials{
    display: flex;
    gap: 2rem;
    margin: auto;
    justify-content: center;
}

.footer__socials a{
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
    transition: var(--transition);
}

.footer__socials a:hover{
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}


/*==== Media ==*/

@media screen and (max-width: 1024px) {
    footer{
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }
    .footer__permalinks{
        margin-bottom: 1rem;
        font-size: 1.5rem;
    
    }
    .footer__socials{
        margin: 0 auto 5rem;
        
    }
}

@media screen and (max-width: 600px) {
    .footer__permalinks{
        margin-bottom: 1rem;
        font-size: 0.8rem;
    
    }
    .footer__socials{
        margin: 0 auto 5rem;
        
    }
}
